@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --color-dk-grey: #1f1f1f;
    --color-dk-purple: #1e0057;
    --color-secondary: #4c02d4bb;
    --color-white: #fffbf5;
    --color-black: #000000;
    --color-transparent: #ffffff00;
    font-size: 10px;
}

body {
    color: var(--color-white);
    background-color: var(--color-dk-grey);
    font-family: "Doto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "ROND" 0;
}

p {
    font-size: 2rem;
    margin: .7rem 0;
}

h1 {
    font-size: 4.2rem;
    margin: 2rem 0;
}

h2 {
    font-size: 2.5rem;
    margin: 1.5rem 0;
}

h3 {
    font-size: 2.2rem;
    margin: 1.5rem 0;
}

h4 {
    font-size: 1.6rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 110rem;
    /* aby neprekrocil tuto hodnotu */
    margin: 0 auto;
    padding: 1rem;
}

.task-item {
    width: 100%;
    display: flex;
    margin: 1rem 0;
    padding: 1rem 1rem;
    transition: box-shadow 300ms;
}

.running {
    background-color: var(--color-dk-purple);
}

.task-item:hover {
    box-shadow: 0px 0px 50px 10px var(--color-secondary);
}

.in-row {
    width: inherit;
    display: flex;
    flex-direction: row;
}

.in-column {
    display: flex;
    flex-direction: column;
}

.space-between {
    width: inherit;
    display: flex;
    justify-content: space-between;
}


input[type=submit],
input[type=button],
button {
    text-align: center;
    border: dotted;
    text-decoration: none;
    cursor: pointer;
    margin: 1rem 1rem;
    padding: 2rem 5rem;
    background-color: var(--color-transparent);
    color: white;
    font-size: 2.2rem;
    font-family: "Anta", sans-serif;
    border-radius: 5px;
    transition: .5s;
}

input[type=submit]:hover,
input[type=button]:hover,
button:hover {
    background-color: var(--color-black);
    color: white;
}

/* VUE transitions ----------------------------------- */

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}